{% extends 'webinar/base.html'%}
{% load static %}
{% block content %}
<body>
    <head>
        <title>LOGIN PAGE</title>
        <link rel="stylesheet" type="text/css" href="{% static 'users/login.css'%}">
    </HEAD>
    <div class="container">
        <div class="image-wrapper">
            <img src="{% static 'users/media/login.svg' %}">
        </div>
        <div class="d-flex justify-content-center h-100">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            <div class="card">
                <div class="card-header card-heading">
                    <h3>Are you sure<br>you want to delete<br>your account?</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <input type="submit" value="Delete" class="btn login-btn">
                        </div>  
                    </form>
               
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content%}